$menu-width: 380px;
$menu-button-width: 32px;
$menu-width-collapsed: 80px;

:host {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;

  .menu-container {
    transition: width ease 200ms;
    position: absolute;
    top: 0;
    right: 0;
    width: $menu-width;
    background: #90A4AE;
    height: 100dvh;

    &.collapsed {
      width: calc($menu-button-width + (2 * 8px));
    }

    &__top {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      height: 5dvh;
      padding: 8px;
    }

    &__button {
      padding: 0;
      border-radius: 4px;
      border: black solid 2px;

      img {
        transition: transform ease-in-out 200ms;
        transform: rotate(270deg);

        &.rotate {
          transform: rotate(0);
        }
      }
    }
  }
}