@use "../src/assets/styles/_reset.scss";

$header-height: 5vh;
$footer-height: 5vh;

body {
  display: block;
  height: 100dvh;
  width: 100dvw;
  padding: 0;
  margin: 0;
}

header {
  height: $header-height;
}

footer {
  height: $footer-height;
}

main {
  height: calc(100vh - ($footer-height + $header-height));
}