@use "../src/assets/styles/_reset.scss";

$header-height: 5dvh;
$footer-height: 5dvh;

body {
  display: block;
  height: 100dvh;
  width: 100dvw;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

header {
  height: $header-height;
}

footer {
  height: $footer-height;
}

main {
  height: calc(100dvh - ($footer-height + $header-height));
  overflow: hidden;
}